*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  
}

html {

    scroll-behavior: smooth;
}

:root{

    --textcolor:rgb(38 50 56);
    --navbar:#1b2226;
    --bodybackground: rgb(250 250 250)

}

body{
background-color: var(--bodybackground);
margin: 0;
height: 100%;
}

body h2{
    font-size: 3em;
    font-weight: 500;   
    color: black;
}

/* ---------- navbar generale -------------- */


.nav {
    position: fixed;
    justify-content: space-between;
    width: 100%;
    padding: 1%;
    display: flex;
    align-items: center;
    background-color:var(--navbar);
    backdrop-filter: blur(20px);
    z-index: 1000;
    font-family:'Courier New', Courier, monospace;



}
  
/* ---------- navbar parte sinistra / logo -------------- */


  .logo {
    width: 10%;
    display: flex;
    justify-content: center;
  }
  
  
  .io{
    opacity: 0.7;
    transition: 0.2s ease-in-out;
    background-color: white;
    border-radius: 50%;
    width: 40px;
    margin-left: 10%;
    
  }

  .io:hover {
    opacity: 1;
  }

  /* ---------- navbar parte centrale voci menu -------------- */
  .menu {
    display: flex;
    gap: 2.5em;

}
  
  .menu li {
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  
  .menu a {
    color: white;
    opacity: 0.8;
    transition: 0.2s ease-in-out;
    font-size: 18px;
  }
  
  .menu a:hover {
    opacity: 1;
    font-size: 20px;
   
  }

  /* ---------- navbar parte destra contatti e linkedin -------------- */
.contatti{
    width: 10%;
    font-size: 23px;
    display: flex;
    gap:1em;

}
  
  .social {

    color: rgb(10, 102, 194);
    cursor:pointer;
    transition: 0.3s ease-in-out;
    

  }
  
  .social:hover {

    color: white;
    font-size: 25px;
  }

  .contattami {
   

    color: WHITE;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    opacity: 0.7;
    
  }
    
  .contattami:hover {

    color: white;
    font-size: 25px;
    opacity: 1;


  }
  
/* ---------- inizio home body -------------- */

#menu{

    color:black;
    font-size: 3em;
    display: none;
}
/*  ------ testata presentazione ----------- */

.home{

    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    padding-top: 15%;
    margin-bottom: 10%;
}

#home img{

    width: 18vw;
    border-radius: 50%;
    margin-top: 3em;
}

.info-box{
    
    display: flex;
    flex-direction: column;
    text-align: center;
    gap:1em;
    max-width: 700px;

}

.info-box h2{
    font-size: 3em;
    font-weight: 500;
}

.info-box h3{
    
    font-size: 1.2em;
    font-weight: 700;
}

.info-box p{

    letter-spacing: 0.2px;
    text-align: justify;
    
}

.btn-box {

    display: flex;
    gap: 1em;
}

.btn-box2 {

    display: flex;
    gap: 1em;
    background-color: var(--background);
    color: white;
}


/* ------ Card section ----------- */

#articoli h2{
    text-align: center;
}

.articoli{

   display: flex;
   justify-content: center;
   gap:2EM;
   margin-top: 30px;
}

.card {
    
    display: grid;
    border: 22px solid black;
    grid-template-columns: 250px;
    grid-template-rows: auto auto auto;
    box-shadow: 5px 5px 15px #263238;
    background-color: var(--navbar);
    color: white;
    border-radius: 20px;
    border-color: var(--navbar);
    text-align: center;
    opacity: 0.90;
    transition: 0.3s ease-in-out;
 }
  
  .card:hover{
    opacity: 1;
  }

  .card img{

    width: 100%;
    object-fit: cover;
    margin-bottom: 10px;

  }

  .card-link {
    display: block;  /* Rende il link un elemento di blocco che occupa l'intera larghezza */
    text-decoration: none;  /* Rimuove la sottolineatura dai link */
}


  .content{
    margin-top: 10%;
    color: white;
    overflow: hidden;

  }

  .content h4{

    font-size: 20px;
    margin-bottom: 10px;

  }

  .content p{
    font-size: 12px;


  }


  .vai-articolo{
    margin-top: 10%;
    text-decoration: none;
    font-size: 11px;
    font-style: italic;
    display: inline-block;
    padding: 10px 10px;
    background-color: rgb(6, 7, 8);
    border-radius: 20px;


  }

  /* about section*/

.about-me{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    width: 100%;
}

.contenitore-generale-info {
    display: flex; /* Crea un layout a due colonne */
    align-items: center; /* Allinea verticalmente al centro */
    width: 60%;
    margin-top: 10%;
    border-radius: 20px;
    box-shadow: 5px 5px 15px #263238;
    color: white;
    text-align: center;
    transition: 0.3s ease-in-out;
    background-color: var(--navbar);
}

.list-group-item{
    cursor: pointer;
    padding: 2em;
    width: 100%;
    opacity: 0.8;
    font-size: 20px;
 
    border-bottom: 1px solid white;

   
}

.list-group-item:hover{
    
    font-size: 21px;
    opacity: 1;
    transition: 0.2s ease-in-out;
}


.contenitore-opzioni {
    flex: 0.5; /* Ogni colonna occupa il 50% dello spazio */
}

.contenitore-testo {
    flex: 1; /* Ogni colonna occupa il 50% dello spazio */
    margin: 50px;
    text-align: justify;
    height: 80%;

}